<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<div class="container-login">
  <img class="containerImg" src="/assets/logo.png" alt="Logo Pumpkim">
  <form [formGroup]="form" (submit)="submit()">
    <p *ngIf="errorMsg" class="text-error text-center">{{errorMsg}}</p>

    <div class="input-container">
      <i class="fa fa-envelope"></i>
      <input type="email" class="app-input" placeholder="Seu email aqui" formControlName="login"/>
    </div>

    <div class="input-container">
      <i class="fa fa-key"></i>
      <input type="password" class="app-input" placeholder="Sua senha aqui" formControlName="senha"/>
    </div>

    <button type="submit" class="submit" [disabled]="form?.invalid || carregando" [attr.title]="form.invalid ? 'Você descobriu a mensagem secreta, agora digite dados válidos para logar ;D' : ''">Acessar</button>

  </form>
</div>
