@font-face {
    font-family: "Biennale Regular";
    font-style: normal;
    font-weight: normal;
    src: url(assets/fonts/Biennale-Regular.otf) format('opentype');
}

@font-face {
    font-family: "Biennale Light";
    font-style: normal;
    font-weight: lighter;
    src: url(assets/fonts/Biennale-light.otf) format('opentype');
}