$primaryColor: #f07b1c;
$secondaryColor: #fcac8d;
$greyColor: #888888;
$lightGreyColor: #f0f5ff;
$darkGreyColor: #3a3a3a;
$errorColor: #ff7563;
$fontRegular: "Biennale Regular";
$fontBold: "Biennale Bold";
$fontLight: "Biennale Light";
$breakpointDesktop: 992px; 

